{% extends 'base.html.twig' %}

{% block title %}To-Do List{% endblock %}

{% block content %}
    <h1>Calendar</h1>

    <div id="calendar"></div>

    <script>
        var tasks = {{ tasks|json_encode|raw }};
        var holidays = {{ holidays|json_encode|raw }};
        var forecast = {{ forecast|json_encode|raw }};
    </script>

    <style>
        
    </style>
   <script src="{{ asset('app/js/calendar.js') }}"></script>
{% endblock %}

